@import url("https://grapheneui.netlify.app/Components/components.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #e8eaed;
  --secondary-color: #202124;
  --yellow: #facc15;
  --grey: #8a8b8d;
  --navbar-height: 10vh;
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  background: var(--secondary-color);
  color: var(--primary-color);
}
/* utilities */
.flex {
  display: flex;
  flex-wrap: wrap;
}
.jtfy-c-spce-arnd {
  justify-content: space-between;
}
.align-ctr {
  align-items: center;
}
.no-flex-wrap {
  flex-wrap: nowrap;
}

