@import url("https://grapheneui.netlify.app/Components/components.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  background: #202124;
  color: #e8eaed;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.jtfy-c-spce-arnd {
  justify-content: space-between;
}
